* {
    box-sizing: border-box;
    margin: auto;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    font-family:Georgia, 'Times New Roman', Times, serif;
    overflow: visible;
    color: var(--almost-black)
}

:root {
    --almost-black: rgb(50, 50, 50);
    --colour-light: rgb(236, 243, 245);
    --colour-dark: rgb(0, 116, 145);
}

body {
    height: 100vh;
    overflow: scroll;
}

button {
    all: unset;
    cursor: pointer;
}

nav {
    display: flex;
    height: 20px;
    width: 100%;
    padding-left: 150px;
    justify-content:end;
    font-size: 0.8rem;

    position: fixed;
    top: 0;
    right: 0;

    background-color: white;
    box-shadow: 0 0 10px 10px white;

    z-index: 100;
}

nav a {
    position: relative;
    top: 6px;
    font-weight: bold;
}

header {
    height: 100vh;
    background-image: url('images/Sky.jpg');
    background-size: cover;
}

h1 {
    width: 100%;
    padding-right: 5px;
    text-align: center;
    font-size: 3rem;
    color: var(--colour-dark);
}

.profile {
    display: flex;
    align-items: center;
    width: 100%;
}

.profile img {
    aspect-ratio: 1;
    width: 250px;
    border-radius: 1000px;
    border: 10px solid white;
}

h1 > span {
    display: block;
    font-size: 1.5em;
}

header p {
    width: 100%;
    text-align: center;
    color: var(--colour-dark);
    padding-bottom: 10px;
    font-weight: 800;
}

section {
    display: block;
    position: relative;
}

h2 {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    height: 30px;
    padding-top: 6px;
    padding-left: 5px;
    text-transform:uppercase;
    font-size: 1.2rem;
    color: inherit;
    z-index: 200;
    font-weight: 1000;
    color: var(--colour-dark);
}


main p {
    margin-top: 25px;
}

.about {
    background-color: var(--colour-dark);
}

.about h2 {
    color: var(--almost-black);
}
.about p {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    padding-bottom: 45px;
    color: white;
}

.centerFlexColumn {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.iconContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
    max-width: 800px;
}


h3 {
    margin: 10px;
}

.skills img {
    width: 100px;
}