* {
    box-sizing: border-box;
    margin: auto;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    font-family:Georgia, 'Times New Roman', Times, serif;
    overflow: visible;
    color: var(--almost-black)
}

:root {
    --almost-black: rgb(50, 50, 50);
    --colour-light: rgb(236, 243, 245);
    --colour-dark: rgb(0, 116, 145);
    --portfolio-img: 1000px;
}

body {
    height: 100vh;
    overflow: scroll;
}

button {
    all: unset;
    cursor: pointer;
}

a {
    cursor: pointer;
}

h2 {
    display:inline-block;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    left: 0px;
    height: 30px;
    width: fit-content;
    padding-top: 2px;
    padding-left: 5px;
    text-transform:uppercase;
    font-size: 1.4rem;
    color: inherit;
    z-index: 200;
    font-weight: 1000;
    color: var(--colour-dark);
}

nav {
    display: flex;
    height: 20px;
    width: 100%;
    padding-left: 150px;
    justify-content: end;

    position: fixed;
    top: 0;

    background-color: white;
    box-shadow: 0 0 10px 10px white;

    z-index: 100;
}

nav a {
    position: relative;
    top: 5px;
    font-weight: bold;
    font-size: 1.1rem;
    margin-right: 5px;
    text-decoration: none;
}

header {
    height: 100vh;
    background-image: url('images/Sky.jpg');
    background-size: cover; 
    padding-bottom: 40px;
}

h1 {
    width: 100%;
    padding-right: 5px;
    text-align: center;
    font-size: 3rem;
    color: var(--colour-dark);
}

.profile {
    display: flex;
    align-items: center;
    width: 100%;
}

.profile img {
    aspect-ratio: 1;
    width: 250px;
    border-radius: 1000px;
    border: 10px solid white;
}

h1 > span {
    display: block;
    font-size: 1.5em;
}

header p {
    width: 100%;
    text-align: center;
    color: var(--colour-dark);
    font-weight: 800;
}

section {
    display: block;
    position: relative;
}



.centerFlexColumn {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.iconContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
    max-width: 800px;
}

h3 {
    margin: 10px;
}


#skills img {
    width: 100px;
}

#skills section {
    margin-top: 30px;
    margin-bottom: 30px;
}


#portfolio img{
    width: 100%;
    max-width: var(--portfolio-img);
}

.info {
    display: grid;
    height: auto;
}

.info {
    background-color: var(--colour-dark);
}

.info div {
    max-width: 600px;
    text-align: center;
}

.info p {
    font-size: 1.2rem;
    color: white;
}

.info h3 {
    font-size: 3rem;
    color: white;
}

.reverse {
    background-color: white;
}

.reverse p {
    color: var(--colour-dark);
}

.reverse h3 {
    color: var(--colour-dark);
}


.info a {
    display: inline-flex;
    color: black;
    font-size: 1.5rem;
    margin: 20px;
}

.info a:visited {
    color: purple;
}

@media screen and (min-width: 800px) {
    .info {
        grid-template-columns: var(--portfolio-img) 1fr;
    }

    .reverse {
        grid-template-columns: 1fr var(--portfolio-img);
    }

    .reverse img {
    order: 1;
    }

    .info div {
        border-radius: 5px;
        padding: 20px;
    }
}