img[alt$="page"]{
    width: 100%;
    max-width: var(--portfolio-img)
}

.info {
    display: grid;
    background-color: var(--colour-light);
}

.info div {
    max-width: 600px;
    text-align: center;
}

.info h3 {
    color: white;
    font-size: 3rem;
}

.info p {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.info a {
    display: inline-flex;

    margin: 20px;

    color: black;

    font-size: 1.5rem;
}

.info a:visited {
    color: purple;
}

.projectsSkills {
    margin-top: 20px;
}

.projectsSkills img {
    height: 75px;
}

.projectsSkills > h4 {
    margin-bottom: 5px;

    color: white;

    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    font-weight: bold;
}

.projectsSkills ul {
    all:unset;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.projectsSkills li {
    all: unset;
    height: fit-content;
}

.reverse {
    background-color: white;
}

.reverse p {
    color: var(--colour-light);
}

.reverse h3 {
    color: var(--colour-light);
}

.reverse .projectsSkills > h4 {
    color: var(--colour-light);
}

@media screen and (min-width: 1200px) {
    .info {
        height: 500px;
        grid-template-columns: calc(var(--portfolio-img) + 50px) 1fr;
    }

    .info div {
        padding: 20px;
        border-radius: 5px;
    }

    .reverse {
        grid-template-columns: 1fr calc(var(--portfolio-img) + 50px);
    }

    .reverse img {
        order: 1;
    }
}