#skills {
    background-color: var(--colour-light);
    padding-bottom: 20px;
}

#skills a {
    z-index: -10;
}

#skills section {
    margin-top: 30px;
    margin-bottom: 30px;
}

#skills h3 {
    color: white;
}

figure {
    height: 170px;
    width: 120px;
    display: grid;
    grid-template-rows: 1fr 20px;
}

figure img {
    height: 100px; 
    transition-duration: 300ms;
}

figcaption {
    color: white;

    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

figure img:hover {
    height: 120px;
}

.iconContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    
    width: 100%;
    max-width: 800px;
    height: 100%;
}